---
import AboutUs from "../../components/en/AboutUsEn.astro";
import Header from "../../components/en/HeaderEn.astro";
import Footer from "../../components/en/FooterEn.astro";
import Welcome from "../../components/en/WelcomeEn.astro";
import Layout from "../../layouts/Layout.astro";
import Comentaries from "../../components/en/ComentariesEn.astro";
import InfoCasas from "../../components/en/InfoCasasEn.astro";
import ToursTeaser from "../../components/en/ToursTeaserEN.astro";

---

<Layout>
  <div>
    <Header />
  </div>

  <div>
    <Welcome />
  </div>
  <AboutUs />
  <InfoCasas />
  <ToursTeaser />
  <Comentaries />
  <Footer />
</Layout>
