---
import AboutUs from "../components/AboutUs.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Welcome from "../components/Welcome.astro";
import Destinations from "../components/Destinations.astro";
import Layout from "../layouts/Layout.astro";
import VacationalsHouses from "../components/VacationalsHouses.astro";
import Comentaries from "../components/Comentaries.astro";
import Information from "../components/Information.astro";

import Destiny from "../components/Destiny.astro";
import InfoCasas from "../components/InfoCasas.astro";
import ToursTeaser from "../components/ToursTeaser.astro";
---

<Layout>
 
<div>
    <Header />  
  </div>

  <div>
    <Welcome />
  </div>
  <AboutUs />
  <!-- <Destiny /> -->
  <InfoCasas />
  <ToursTeaser />
  <Comentaries />
  <!-- <Information /> -->
  <Footer /> 
</Layout>
